name: Update Kaggle Notebooks

on:
  workflow_dispatch:
  schedule:
    - cron: "0 */12 * * *"   # every 12 hours

permissions:
  contents: write

jobs:
  update-readme:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Update README from Kaggle RSS
        uses: gautamkrishnar/blog-post-workflow@v1
        continue-on-error: true
        with:
          feed_list: "https://www.kaggle.com/nayonahmedlol/code"
          comment_tag_name: "KAGGLE-NOTEBOOKS"
          max_post_count: 5
